body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:41px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:41px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:51px;
  width:798px;
  height:489px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:489px;
}
#u3 {
  position:absolute;
  left:2px;
  top:236px;
  width:794px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:644px;
  top:462px;
  width:96px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#999999;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:42px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:29px;
  top:6px;
  width:59px;
  height:29px;
  font-family:'方正舒体 Bold', '方正舒体';
  font-weight:700;
  font-size:28px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:750px;
  top:5px;
  width:30px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:756px;
  top:11px;
  width:19px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u11 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:327px;
  top:10px;
  width:144px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-size:20px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
