body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:797px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:559px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:559px;
}
#u2 {
  position:absolute;
  left:2px;
  top:272px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:325px;
  top:89px;
  width:147px;
  height:76px;
  font-family:'方正舒体 Bold', '方正舒体';
  font-size:72px;
  color:#CCCCCC;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:76px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:246px;
  top:305px;
  width:128px;
  height:51px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:124px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:424px;
  top:305px;
  width:128px;
  height:51px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
}
#u8 {
  position:absolute;
  left:2px;
  top:14px;
  width:124px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:314px;
  top:219px;
  width:170px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#CCCCCC;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:559px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:559px;
}
#u12 {
  position:absolute;
  left:2px;
  top:272px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:246px;
  top:305px;
  width:306px;
  height:51px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:302px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:246px;
  top:117px;
  width:306px;
  height:159px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:159px;
}
#u16 {
  position:absolute;
  left:2px;
  top:72px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:321px;
  top:141px;
  width:213px;
  height:38px;
  color:#CCCCCC;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:38px;
}
#u18 {
  position:absolute;
  left:2px;
  top:11px;
  width:209px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:258px;
  top:152px;
  width:53px;
  height:16px;
  color:#666666;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:321px;
  top:189px;
  width:213px;
  height:38px;
  color:#CCCCCC;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:38px;
}
#u22 {
  position:absolute;
  left:2px;
  top:11px;
  width:209px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:258px;
  top:200px;
  width:40px;
  height:16px;
  color:#666666;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:473px;
  top:247px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:278px;
  top:246px;
  width:100px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u0_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:559px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:559px;
}
#u30 {
  position:absolute;
  left:2px;
  top:272px;
  width:793px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:246px;
  top:379px;
  width:306px;
  height:51px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:51px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:302px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:246px;
  top:117px;
  width:306px;
  height:226px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:226px;
}
#u34 {
  position:absolute;
  left:2px;
  top:105px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:347px;
  top:141px;
  width:187px;
  height:38px;
  color:#CCCCCC;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:38px;
}
#u36 {
  position:absolute;
  left:2px;
  top:11px;
  width:183px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:258px;
  top:152px;
  width:66px;
  height:16px;
  color:#666666;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:347px;
  top:189px;
  width:187px;
  height:38px;
  color:#CCCCCC;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:38px;
}
#u40 {
  position:absolute;
  left:2px;
  top:11px;
  width:183px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:258px;
  top:200px;
  width:66px;
  height:16px;
  color:#666666;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:347px;
  top:238px;
  width:187px;
  height:38px;
  color:#CCCCCC;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:38px;
}
#u44 {
  position:absolute;
  left:2px;
  top:11px;
  width:183px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:258px;
  top:249px;
  width:66px;
  height:16px;
  color:#666666;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:258px;
  top:299px;
  width:79px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:347px;
  top:286px;
  width:95px;
  height:38px;
  color:#CCCCCC;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
}
#u50 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:467px;
  top:286px;
  width:67px;
  height:38px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
}
#u52 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
